APP_HOST=0.0.0.0 #API Server Host
APP_PORT=8000 #API Server port
APP_TITLE=Budgetit API #Application Title For FASTAPI
APP_VERSION=0.1.0 #FASTAPI app version
PYTHON_IMAGE=python:3.12-slim #Base Image
NETWORK_NAME=budgetit-net #Docker Network Name , bust be the same between flutter services and backend
MINIO_USER= <your_minio_user>
MINIO_PASSWORD= <your_minio_password>
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

POSTGRES_USER= <your_postgres_user>
POSTGRES_PASSWORD= <your_postgres_password>
POSTGRES_DB= <your_postgres_db>

DATABASE_URL= <your_database_url>

COGNITO_REGION= <your_cognito_region>
COGNITO_USER_POOL_ID=<your_user_pool_id>
COGNITO_APP_CLIENT_ID=<your_app_client_id>

# PowerSync source-db SSL mode: 'verify-full' (RDS/cloud), 'verify-ca', or 'disable' (local dev)
PS_SSLMODE=verify-full