Flutter/budgetit/linux/*
Flutter/budgetit/build/*
Flutter/budgetit/macos/*
Flutter/budgetit/windows/*
Flutter/budgetit/android/*
Flutter/budgetit/web/*



scripts/test/act/artifacts/
scripts/test/act/cache/
cache/
Flutter/budgetit/flutter/
Flutter/budgetit/ios/
Flutter/budgetit/linux/
artifacts/
Flutter/budgetit/test/unit/database/mock_daos.mocks.dart
