Flutter/budgetit/linux/*
Flutter/budgetit/build/*
Flutter/budgetit/macos/*
Flutter/budgetit/windows/*
Flutter/budgetit/android/*
!Flutter/budgetit/android/app/
Flutter/budgetit/android/app/*
!Flutter/budgetit/android/app/proguard-rules.pro
!Flutter/budgetit/android/app/src/
!Flutter/budgetit/android/app/src/main/
!Flutter/budgetit/android/app/src/main/res/
!Flutter/budgetit/android/app/src/main/res/drawable-nodpi/
!Flutter/budgetit/android/app/src/main/res/drawable-nodpi/splash_icon.png
!Flutter/budgetit/android/app/src/main/res/drawable-xxhdpi/
!Flutter/budgetit/android/app/src/main/res/drawable-xxhdpi/splash_logo.png
!Flutter/budgetit/android/app/src/main/res/values/
!Flutter/budgetit/android/app/src/main/res/values/colors.xml
!Flutter/budgetit/android/app/src/main/res/values-v31/
!Flutter/budgetit/android/app/src/main/res/values-v31/styles.xml
Flutter/budgetit/web/*
!Flutter/budgetit/web/powersync_db.worker.js
!Flutter/budgetit/web/flutter_bootstrap.js
!Flutter/budgetit/web/splash_logo.png
flutter_*.log
docker/flutter/.env
.github/gh_runner/.env


scripts/test/act/artifacts/
scripts/test/act/cache/
cache/
Flutter/budgetit/flutter/
Flutter/budgetit/ios/
Flutter/budgetit/linux/
artifacts/
backend/.env
docker/flutter/.env


scripts/test/act/artifacts/
scripts/test/act/cache/
cache/
Flutter/budgetit/flutter/
Flutter/budgetit/ios/
Flutter/budgetit/linux/
artifacts/
backend/.env
docker/backend/.env
Flutter\budgetit\lib\bsg\main.directories.g.dart
Flutter/budgetit/test/maestro/auth/.env

docker/backend/.env.local
docker/backend/.env.prod

