#IMAGE_NAME=budgetit-flutter:latest
#NETWORK_NAME=budgetit-net

# BASE_IMAGE=ubuntu:22.04
# JAVA_PACKAGE=openjdk-17-jdk-headless
# ANDROID_CMDTOOLS_VERSION=14742923
# ANDROID_API_LEVEL=36
# ANDROID_BUILD_TOOLS=36.0.0
# ANDROID_NDK_VERSION=27.0.11902837
# FLUTTER_VERSION=3.41.9

# ADB_PORT=5037
# HOST_UID=1000
