APP_HOST=0.0.0.0 #API Server Host
APP_PORT=8000 #API Server port
APP_TITLE=Budgetit API #Application Title For FASTAPI
APP_VERSION=0.1.0 #FASTAPI app version
PYTHON_IMAGE=python:3.12-slim #Base Image
NETWORK_NAME=budgetit-net #Docker Network Name , bust be the same between flutter services and backend
