APP_HOST=0.0.0.0
APP_PORT=8000
APP_TITLE=Budgetit API
APP_VERSION=0.1.0
PYTHON_IMAGE=python:3.12-slim
NETWORK_NAME=budgetit-net

DATABASE_URL= <your_database_url>

COGNITO_REGION= <your_cognito_region>
COGNITO_USER_POOL_ID=<your_user_pool_id>
COGNITO_APP_CLIENT_ID=<your_app_client_id>

#GET WHAT YOU NEED FROM TEAM - Look at group for details